#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dogsContainer {
  height: 100vh;
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  place-self: center;
}

.dogCard {
  text-align: center;
  border-radius: 50px;
  background: #ffffff;
  color: #787878;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  width: 300px;
  margin: 0 auto;
  height: 250px;
}

.dogCard img {
  width: 100px;
  height: 100px;
  margin-top: 30px;
}

h1 {
  text-align: center;
  margin-top: 100px;
  /* margin-bottom: -100px; */
  font-size: 40px;
}

@media screen and (max-width:1025px) {
  h1 {
    font-size: 30px;
  }

  .dogsContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:720px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  .dogsContainer {
    height: 100vh;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    place-self: center;
  }
}

